<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsApplication1.Properties.Settings.客房管理ConnectionString"
            connectionString="Data Source=.;Initial Catalog=客房管理;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>